<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>

<div th:fragment="chatting" class="chat-container">

    <!-- 초기 안내 메시지 -->
    <div id="chatPlaceholder" class="chat-box">
        친구 또는 채팅을 선택해서 채팅을 시작하세요.
    </div>

    <!-- 실제 채팅 박스 (초기에는 숨김) -->
    <div id="chatBox" class="chat-box" style="display:none;">
        <!-- 메시지들이 여기 들어감 -->
    </div>

    <div id="chat-input-area" class="chat-input-area" style="display:none;">
        <!-- 숨겨진 파일 input -->
        <input type="file" id="fileInput" style="display:none" onchange="handleFileUpload(event)">

        <div class="dropdown" style="margin: auto;">
            <!-- + 아이콘 버튼 -->
            <button class="btn btn-light dropdown-toggle" type="button" id="chatMenuBtn" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #4e92ff;border-color: #4e92ff;color: #fff;">
                <i class="bi bi-plus-lg"></i>
            </button>

            <!-- 드롭다운 메뉴 -->
            <ul class="dropdown-menu" aria-labelledby="chatMenuBtn">
                <li>
                    <button class="dropdown-item" onclick="openFileSelect()">
                        파일 선택
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" onclick="inviteToChat()">
                        채팅방 초대
                    </button>
                </li>
            </ul>
        </div>


        <textarea id="messageInput" placeholder="메시지를 입력하세요" rows="1"></textarea>
        <button class="sendBtn" onclick="sendMessage()">전송</button>
    </div>
</div>

</body>
</html>