<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div th:fragment="userList" class="user-list-container">
  <!-- 내 프로필 -->
  <div class="my-profile">
    <div class="user-info">
      <img th:if="${loginUser.profileImage != null}" th:src="${loginUser.profileImage}" alt="Profile Image" class="profile-img">
      <span th:text="${loginUser.name}" class="profile-name">User Name</span>
    </div>
  </div>

  <hr class="profile-divider">

  <!-- 친구 목록 -->
  <div class="friend-list">
    <div th:each="user : ${users}" th:if="${user.loginId != loginUser.loginId}" class="friend-item">
      <div class="user-info">
        <img thif="${user.profileImage != null}" th:src="${user.profileImage}" alt="Profile Image" class="profile-img">
        <span th:text="${user.name}" class="profile-name">Friend Name</span>
      </div>
    </div>
  </div>
</div>

</body>
</html>