<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="sideNav">
    <nav class="sidebar">
        <!-- 메뉴 토글 아이콘 -->
        <div class="menu-toggle">☰</div>

        <!-- 메뉴 항목 -->
        <div class="menu-item" onclick="showChattingList()">
            <span class="icon">💬</span>
            <span class="label">채팅</span>
        </div>

        <div class="chatting-list"></div>

        <!-- 유저 섹션 -->
        <div class="user-section">
            <div class="user-info" th:if="${loginUser}">
                <span class="user-info-name" th:text="${loginUser.name}">User Name</span>
                <img th:if="${loginUser.profileImage != null}" th:src="${loginUser.profileImage}" alt="Profile Image" />
            </div>

            <div class="login-buttons">
                <!-- 로그아웃 -->
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()">
                    <span class="icon">🔒</span>
                    <span class="label">로그아웃</span>
                </a>
                <!-- 로그인 -->
                <a th:href="@{/login}" sec:authorize="isAnonymous()">
                    <span class="icon">🔓</span>
                    <span class="label">로그인</span>
                </a>
            </div>
        </div>
    </nav>
</div>

</body>
</html>