<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{fragments/scripts.html :: scripts}"></th:block>
</head>
<body>

<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<div class="container">
    <th:block th:replace="~{fragments/sideNav.html :: sideNav}"></th:block>
    <main id="main-content">
        <p>메인</p>
    </main>
</div>


<script>
    function loadContent(url) {
        $.ajax({
            url: url,
            type: "GET",
            success: function (html) {
                $("#main-content").html(html);
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
            }
        });
    }
</script>
</body>
</html>