<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{fragments/scripts.html :: scripts}"></th:block>
</head>
<body>

<div class="home-container">
    <!-- 사이드바 -->
    <th:block th:replace="~{fragments/sideNav.html :: sideNav}"></th:block>

    <!-- 메인 영역 -->
    <main id="main-content">
    </main>
</div>

<script th:inline="javascript">
    const isAuthenticated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
    window.loginUser = /*[[${loginUser}]]*/ null;

    function loadContent(url) {
        if (!isAuthenticated) {
            window.location.href = '/login';
        } else {
            $.ajax({
                url: url,
                type: "GET",
                success: function (html) {
                    const wrapper = $('<div>').addClass('contents');
                    wrapper.html(html);
                    $("#main-content").html(wrapper);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                }
            });
        }
    }

    // 사이드바 토글
    $('.menu-toggle').on('click', function() {
        $('nav').toggleClass('collapsed');

        if ($('nav').hasClass('collapsed')) {
            $('.user-info-name').hide();
        } else {
            $('.user-info-name').show();
        }
    });

    loadContent("/chatting");

    const chattingRooms = [
        { id: 1, name: "채팅1" },
        { id: 2, name: "채팅2" },
        { id: 3, name: "채팅3" },
        { id: 4, name: "채팅3" },
        { id: 5, name: "채팅3" },
        { id: 6, name: "채팅3" }
    ];

    const container = document.querySelector(".chatting-list");
    container.innerHTML = ""; // 초기화

    chattingRooms.forEach(room => {
        const div = document.createElement("div");
        div.classList.add("chatting-item");
        div.textContent = room.name;
        container.appendChild(div);
    });

    const friends = [
        { id: 1, name: "친구1" },
        { id: 2, name: "친구2" },
        { id: 3, name: "친구3" },
        { id: 4, name: "친구3" },
        { id: 5, name: "친구3" },
        { id: 6, name: "친구3" },
        { id: 7, name: "친구3" },
        { id: 8, name: "친구3" }
    ];

    const containerFri = document.querySelector(".friends-list");
    containerFri.innerHTML = ""; // 초기화

    friends.forEach(fri => {
        const div = document.createElement("div");
        div.classList.add("friends-item");
        div.textContent = fri.name;
        containerFri.appendChild(div);
    });

</script>
</body>
</html>
