<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{fragments/scripts.html :: scripts}"></th:block>
</head>
<body>

<div class="home-container">
    <!-- 사이드바 -->
    <th:block th:replace="~{fragments/sideNav.html :: sideNav}"></th:block>

    <!-- 메인 영역 -->
    <main id="main-content">
    </main>
</div>

<script th:inline="javascript">
    const isAuthenticated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
    window.loginUser = /*[[${loginUser}]]*/ null;

    function loadContent(url) {
        if (!isAuthenticated) {
            window.location.href = '/login';
        } else {
            $.ajax({
                url: url,
                type: "GET",
                success: function (html) {
                    const wrapper = $('<div>').addClass('contents');
                    wrapper.html(html);
                    $("#main-content").html(wrapper);
                },
                error: function (xhr, status, error) {
                    basicAlert({
                        icon: 'warning',
                        text: '세션이 만료되었습니다. 다시 로그인 해주세요.',
                        callback: () => {
                            window.location.href = '/login';
                        }
                    });
                }
            });
        }
    }

    // 사이드바 토글
    $('.menu-toggle').on('click', function() {
        $('nav').toggleClass('collapsed');

        if ($('nav').hasClass('collapsed')) {
            $('.user-info-name').hide();
        } else {
            $('.user-info-name').show();
        }
    });

    loadContent("/chatting");
    showFriendList();
    showChattingList();




</script>
</body>
</html>
