<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{fragments/scripts.html :: scripts}"></th:block>
</head>
<body>

<div class="home-container">
    <!-- 사이드바 -->
    <th:block th:replace="~{fragments/sideNav.html :: sideNav}"></th:block>

    <!-- 메인 영역 -->
    <main id="main-content">
    </main>
</div>

<!-- 그룹 채팅방 생성을 위한 모달 -->
<div class="modal fade" id="selectFriModal" tabindex="-1" aria-labelledby="selectFriModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectFriModalLabel">그룹 채팅방 생성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="selected-users" class="form-label">선택된 친구</label>
                    <div id="selected-users" class="selected-users-container">
                        <!-- 선택된 사용자가 여기에 표시됩니다. -->
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user-search" class="form-label">친구 검색</label>
                    <input type="text" class="form-control" id="user-search" placeholder="이름으로 검색..." oninput="searchFriends(this)">
                </div>
                <div id="user-list-container" class="user-list-container">
                    <!-- 사용자 목록이 여기에 동적으로 추가됩니다. -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="create-group-chat-btn" onclick="groupDupliChatModal()">생성</button>
            </div>
        </div>
    </div>
</div>


<!-- 중복 채팅방 생성을 위한 모달 -->
<div class="modal fade" id="dupliChatModal" tabindex="-1" aria-labelledby="dupliChatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dupliChatModalLabel">중복 채팅방 생성 안내</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="chat-list-container" class="user-list-container">
                    <!-- 사용자 목록이 여기에 동적으로 추가됩니다. -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="groupCreatePopup()">채팅방 만들기</button>
            </div>
        </div>
    </div>
</div>

<!-- 팀 채팅방 생성을 위한 모달 -->
<div class="modal fade" id="teamChatModal" tabindex="-1" aria-labelledby="teamChatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamChatModalLabel">팀채팅 만들기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <img src="" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="group-name" placeholder="채팅방 이름 설정..." oninput="searchFriends(this)">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="groupCreatePopup()">채팅방 만들기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const isAuthenticated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
    window.loginUser = /*[[${loginUser}]]*/ null;

    function loadContent(url) {
        if (!isAuthenticated) {
            window.location.href = '/login';
        } else {
            $.ajax({
                url: url,
                type: "GET",
                success: function (html) {
                    const wrapper = $('<div>').addClass('contents');
                    wrapper.html(html);
                    $("#main-content").html(wrapper);
                },
                error: function (xhr, status, error) {
                    basicAlert({
                        icon: 'warning',
                        text: '세션이 만료되었습니다. 다시 로그인 해주세요.',
                        callback: () => {
                            window.location.href = '/login';
                        }
                    });
                }
            });
        }
    }

    // 사이드바 토글
    $('.menu-toggle').on('click', function() {
        $('nav').toggleClass('collapsed');

        if ($('nav').hasClass('collapsed')) {
            $('.user-info-name').hide();
        } else {
            $('.user-info-name').show();
        }
    });

    loadContent("/chatting");
    connect();
    showFriendList();
    showChattingList();




</script>
</body>
</html>
